# Base Settings
SECRET_KEY=supersecretkeyforjwttokeneduinsight
PLAYWRIGHT_HEADLESS=True

# Database Configuration (For Local or Docker Compose)
# For Local SQLite:
DATABASE_URL=sqlite:///./eduinsight.db

# For Production PostgreSQL:
# DATABASE_URL=postgresql://postgres:postgrespassword@db:5432/eduinsight
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=postgrespassword
# POSTGRES_DB=eduinsight
